<div class="container">
<form class="col s12" autocomplete="off">
      <div class="row">
        <div class="input-field col s12">
            <input  id="purchaseId" ng-model="dispatch.purchase_Id" type="number" class="validate">
          <label for="purchaseId">PurchaseId</label>
        </div>
      </div>
    <div class="input-field col s12">
    <select id="customerId" ng-model="dispatch.customer_Id">
      
        <option value="{{user.id}}" ng-repeat="user in users">{{user.firstname}} {{user.lastname}}</option>
       
    </select>
    <label for="customerId">Customer</label>
  </div>
     
        <div class="row">
        <div class="input-field col s12">
            <input  id="soldQty" ng-model="dispatch.sold_qty" type="number" class="validate">
          <label for="soldQty">Sold Quantity</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
            <input  id="storageBalance" ng-model="dispatch.storage_balance" type="number" step="0" class="validate">
          <label for="storageBalance">Storage Balance</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
            <input  id="soldRate" ng-model="dispatch.sold_rate" type="number" step="0" class="validate">
          <label for="soldRate">Sold Rate</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
            <input  id="amount_paid" ng-model="dispatch.amount_paid" type="number" step="0" class="validate">
          <label for="amount_paid">Amount Paid</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
            <input  id="outstanding" ng-model="dispatch.outstanding" type="number" class="validate">
          <label for="outstanding">Outstanding</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
            <input  id="paymentDueDate" ng-model="dispatch.payment_due_date" type="date" class="validate">
            <label for="paymentDueDate" class="active">Payment Due Date</label>
        </div>
      </div>
<!--    <div class="row">
        <div class="input-field col s12">
            <input  id="paymentDueDate" ng-model="dispatch.actual_payment_date" type="date" class="validate">
          <label for="actualPaymentDate">Actual Payment Date</label>
        </div>
      </div>-->
    
    <div class="row">
        <div class="input-field col s12">
            <textarea id="comment" class="materialize-textarea" ng-model="dispatch.comment"></textarea>
          <label for="comment">Comment</label>
        </div>
      </div>
        <div>
            <a class="waves-effect waves-light btn btn-block login-button" ng-click="addDispatch(dispatch)" ng-disabled="isPreloading "><i class="left material-icons">send </i>Add Dispatch</a>
        </div>
    </form>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" ui-sref="dispatch.list">
      <i class="material-icons">list</i>
    </a>
  </div>
</div>

